/* ==========================================================================
   Blog responsive styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 25%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-masonry-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-masonry-size-large-width-height {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 33.33333%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-masonry-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-masonry-size-large-width-height {
    width: 66.66667%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 33.33333%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-masonry-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-masonry-size-large-width-height {
    width: 66.66667%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-masonry-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-three-columns article.edgtf-masonry-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-masonry-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-four-columns article.edgtf-masonry-size-large-width-height {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article,
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns .edgtf-blog-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-masonry-size-large-width, .edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-blog-five-columns article.edgtf-masonry-size-large-width-height {
    width: 100%;
  }
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 50% !important;
  }
  .edgtf-blog-single-navigation .edgtf-nav-holder .edgtf-nav-image, .edgtf-blog-single-navigation .edgtf-nav-holder .edgtf-nav-title-inner {
    display: none;
  }
  .edgtf-blog-single-navigation .edgtf-social-share-holder.edgtf-list li {
    margin: 0px 12px 3px 0;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 100% !important;
  }
  .edgtf-blog-single-navigation .edgtf-blog-single-share {
    width: 80%;
  }
  .edgtf-blog-single-navigation .edgtf-blog-single-next,
  .edgtf-blog-single-navigation .edgtf-blog-single-prev {
    width: 10%;
  }
  .edgtf-blog-single-navigation .edgtf-nav-holder .edgtf-nav-title {
    padding: 0;
  }
  .edgtf-blog-single-navigation .edgtf-nav-holder .edgtf-nav-text-inner {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-post-info-bottom-left,
  .edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
    width: 100%;
    float: none;
  }
  .edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
    text-align: inherit;
    margin: 10px 0 0;
  }
  .edgtf-blog-holder.edgtf-blog-single article.format-quote .edgtf-post-text {
    padding: 70px 24px 30px;
  }
  .edgtf-blog-holder.edgtf-blog-single article.format-link .edgtf-post-text {
    padding: 60px 40px 25px 40px;
  }
}

/* ==========================================================================
   Blog List shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item:after {
    content: '';
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item:nth-last-child(1):after, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item:nth-last-child(2):after {
    content: normal;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-three-columns .edgtf-bl-item:nth-child(2n+1):before {
    content: normal;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:after {
    content: '';
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-last-child(1):after, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-last-child(2):after {
    content: normal;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-four-columns .edgtf-bl-item:nth-child(2n+1):before {
    content: normal;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:after {
    content: '';
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-last-child(1):after, .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-last-child(2):after {
    content: normal;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed.edgtf-bl-five-columns .edgtf-bl-item:nth-child(2n+1):before {
    content: normal;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 33.33333%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-three-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-four-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 681px) {
  .edgtf-blog-list-holder.edgtf-bl-standard.edgtf-bl-five-columns .edgtf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 50%;
  }
}

@media only screen and (max-width: 680px) {
  .edgtf-blog-list-holder.edgtf-bl-standard .edgtf-bl-item, .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bl-item {
    width: 100% !important;
  }
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bl-item:not(:last-child):after {
    content: "" !important;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-two-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-three-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-four-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-item,
  .edgtf-blog-list-holder.edgtf-bl-masonry.edgtf-bl-five-columns .edgtf-bl-grid-sizer {
    width: 100%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content,
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-blog-list-item-table {
    padding: 20% 58px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content,
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-blog-list-item-table {
    padding: 20% 50px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-bli-content,
  .edgtf-blog-list-holder.edgtf-bl-boxed .edgtf-blog-list-item-table {
    padding: 20px 60px;
  }
}

/* ==========================================================================
   Blog List shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-blog-slider-holder.edgtf-bs-carousel-centered .active.center .edgtf-item-text-wrapper {
    opacity: 1;
  }
}

/* ==========================================================================
   Blog Slider shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
   Blog responsive styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map-responsive.css.map */
